# -*- coding: utf-8 -*-

import logging

from flask import Flask
from rest_arch.skt.log import setup_loggers

setup_loggers(__name__)
logger = logging.getLogger(__name__)

app = Flask(__name__)


@app.route('/ping')
def ping():
    logger.info('`ping` api called')
    return 'true'


def index():
    return 'index'


app.add_url_rule('/', index.__name__, index)
