# -*- coding: utf-8 -*-

import logging

from rest_arch.skt.log import setup_loggers
from rest_arch.app import make_app

setup_loggers(__name__)
logger = logging.getLogger(__name__)

app = make_app(__name__)


@app.route('/ping')
def ping():
    logger.info('`ping` api called')
    return 'true'


def index():
    return 'index'


app.add_url_rule('/', index.__name__, index)
